{% extends 'base.html' %}
{% block titulo %}Empleados | Taller Mecanico{% endblock %}

{% block contenido %}
<div class="page-header">
    <h2>Clientes Registrados</h2>
    <a href="{% url 'app_cliente:crear_cliente' %}" class="btn btn-primary">+ Agregar cliente</a>
</div>

<ul class="artist-grid">
    {% for cliente in clientes %}
    <li class="artist-card">
        <a href="{% url 'app_cliente:detalle_cliente' cliente.id %}">
            {% if cliente.foto_cliente %}
                <img src="{{ cliente.foto_cliente.url }}" alt="Foto de {{ cliente.nombre }}" class="artist-img">
            {% else %}
                <div class="artist-placeholder">🎵</div>
            {% endif %}
            <h3>{{ cliente.nombre }}</h3>
            <p class="artist-nationality">{{ cliente.apellido }}</p>
            <p class="artist-nationality">{{ cliente.telefono }}</p>
            <p class="artist-nationality">{{ cliente.email }}</p>
            <p class="artist-nationality">{{ cliente.rfc }}</p>
            <p class="artist-nationality">{{ cliente.direccion}}</p>
        </a>
    </li>
    {% empty %}
    <li class="no-artists">No hay clientes registrados.</li>
    {% endfor %}
</ul>
{% endblock %}